.page-container{
	footer{
		font-size: $font-size-large;
		height: $navbar-height + $grid-gutter-width;
		margin-top: $grid-gutter-width;
		padding-top: $grid-gutter-width;
		border-top: $brand-white 3px solid;
		a{
			color: $brand-white;
			&:hover{
				color: $brand-orange;
			}
		}
		.row > div{
			display: inline-block; /* non-flexbox browsers */
			@include display-flex;
			@include align-items(flex-end);
		}
		.footer-social{
			height: 100%;
			@include display-flex;
			@include flex-direction(row);
			@include justify-content(flex-end);
			ul{
				li{
					margin:0 5px;
					&:last-child{
						margin-right:0;
					}
				}
			}
		}	
	}
}