body{
	background: $body-bg;
}

.page-container{
	.btn.btn-outline-white:focus,.btn-outline-white:focus{
		color: #000000 !important;
	    border-color: #ffffff !important;
	    background-color: #ffffff !important;
	    box-shadow: none !important;
	}
	.page-home{
		.page-home-top{
			margin-bottom: $grid-gutter-width*2;
			.page-home-top-highlight{
				overflow:hidden;
				height: 480px;
				img{
					width: auto;
					// height: 120%;
					// max-width: none;
					// margin-left: -9.5%;
    				// margin-top: -4.5%
				}

				.page-home-news-title{
					@include box-sizing(border-box);
					position: absolute;
					left: 0;
					bottom: 0;
					margin: 0;
					width: 100%;
					vertical-align: middle;
					background: rgba($brand-black,.8);
					color: $brand-orange;
					padding: 0 ($grid-gutter-width+$grid-gutter-width/2);
					font-size: $font-size-captions-3;
					opacity:1;
					z-index:1;
					@include transition(opacity .6s ease, transform .6s ease);
					@include display-flex;
					@include align-items(center);
					@include flex-direction(row);
					@include justify-content(flex-start);
					h2{
						@include display-flex;
						@include align-items(center);
						flex:1;
						font-size: $font-size-captions-3;
						font-weight:bold;
						margin:0;
						line-height:80px;
						i{
							color:$brand-white;
							margin-right:20px;
						}
					}
					.btn{
					}
				}
				.page-home-news-title-top{
					h2, h4{
						margin:0;
						line-height: 32px;
					}
					h2{
						font-size:$font-size-captions-2;
						font-weight: bold;
						text-transform: uppercase;
					}
					h4{
						text-transform: uppercase;
						// font-weight:bold;
					}
					@include box-sizing(border-box);
					position: absolute;
					left: ($grid-gutter-width+$grid-gutter-width/2);
					top: $grid-gutter-width;
					margin: 0;
					width: auto;
					line-height:80px;
					vertical-align: middle;
					color: $brand-white;
					font-size: 30px;
					font-weight:bold;
					opacity:1;
					z-index:1;
					@include transition(opacity .6s ease, transform .6s ease);
				}
			}
			.page-home-top-dedicace{
				height: 480px;
				overflow:hidden;
				.page-home-top-dedicace-image{
					position: absolute;
					width: 114%;
					height: 114%;
					background:url(../resources/event-dreamhack-info.jpg) no-repeat right 8px top -68px;
					background-size:cover;
				}
				.page-home-top-dedicace-button{
					position: absolute;
					bottom:0;
					background: rgba($brand-black,.8);
					text-align: center;
					width: 100%;
					height: 80px;
					padding:0 $grid-gutter-width;
					@include display-flex;
					@include align-items(center);
					@include justify-content(center);
					.btn-primary{
						&:hover{
							color:$brand-black !important;
							border-color:$brand-black;
						}
					}
				}
			}
		}
		.page-home-timeline{
			margin-bottom: $grid-gutter-width*2;
			.page-home-timeline-top{
				font-size: $font-size-captions-2;
				font-weight: bold;
				background-color:$brand-grey;
				padding-left:$grid-gutter-width*1.5;
				padding-top:$grid-gutter-width/2;
				padding-bottom:$grid-gutter-width/2;
			}
			.page-home-timeline-event{
				background-color:$brand-grey-dark;
				ul{
					background: url(../resources/timeline-event-bg.jpg) no-repeat;
					background-size: 100% auto;
					margin: $grid-gutter-width;
					@include display-flex;
					@include justify-content(center);
					@include align-items(stretch);
					li{
						// overflow: hidden;
						// width: 230px; 
						// &:after{
						// content: url(../resources/timeline-between.svg);
						// position: absolute;
						// right:0;
						// top:0;
						// height:100%;
						// width: auto;
						// }
						&.page-home-timeline-event-1,&.page-home-timeline-event-4{
							width: 25%;
							padding:0;
						}
						&.page-home-timeline-event-2,&.page-home-timeline-event-3{
							width: 27%;
						}
						&.page-home-timeline-event-1,&.page-home-timeline-event-2,&.page-home-timeline-event-3,&.page-home-timeline-event-4{
							height: 178px;
							overflow: hidden;
							@include display-flex;
						    // @include align-items(center);
						    @include flex-direction(column);
							img{
								margin:auto;
								display: block;
								// padding-top:$grid-gutter-width;
								// padding-bottom:$grid-gutter-width;
							}
							.event-date{
								background-color:$brand-black;
								font-size: $font-size-small-labels;
								display:block;
								padding-top:$grid-gutter-width/2;
								padding-bottom:$grid-gutter-width/2;
								text-align: center;
							}
							&:hover{
								.page-home-timeline-event-overlay{
									opacity:1;
									*{
										opacity:1;
										@include translateY(0);
									}
								}
							}
							.page-home-timeline-event-overlay{
								position: absolute;
								top: 20px;
							    width: 24%;
							    height: 179px;
								background: rgba($brand-orange, .9);
								z-index:1;
								opacity:0;
								@include transition(opacity .6s ease);
								@include display-flex;
								@include align-items(center);
								@include justify-content(center);
								*{					
									@include translateY(20px);
									@include transition(opacity .6s ease, transform .6s ease);
								}
							}
						}
						&.page-home-timeline-event-1{
							img,.event-date{
								@include translateX(-8px);
							}
							.page-home-timeline-event-overlay{
							    left: 30px;
								a{
									margin-left: -30px;
								}
							} 
						}
						&.page-home-timeline-event-2{
							.page-home-timeline-event-overlay{
							    left: 25.8%;
   								width: 24.4%;
								a{
									margin-left: -30px;
								}
							} 
						}
						&.page-home-timeline-event-3{
							
							.event-date{
								background-color:$brand-orange;
							}
							.page-home-timeline-event-overlay{
							    left: 51%;
							    width: 24.5%;
								a{
									margin-left: -30px;
								}
							} 
						}
						&.page-home-timeline-event-4{
							img,.event-date{
								@include translateX(+8px);
							}
							.page-home-timeline-event-overlay{
							    right: 30px;
							    width: 21.8%;
								a{
									margin-left: 10px;
								}
							} 
						}
						&.img-between{
							position:absolute;
							margin-left: -$grid-gutter-width/2;
							padding:0;
							z-index:10;
							img{
								padding:0;
								height: 182px;
								margin-left: -4px;
							}
						}	
					}
				}
			}
		}
		.page-home-article{
			margin-bottom:$grid-gutter-width*3;
		}
		.page-home-social{
			.page-home-article-title{
				font-size: $font-size-captions-1;
				font-weight: bold;
				padding-left:$grid-gutter-width*1.5;
				padding-top:$grid-gutter-width/2;
				padding-bottom:$grid-gutter-width;
			}
			a{
				color: $brand-white;
				&:hover{
					color: $brand-black;
				}
			}
			.page-home-article-feed{
				margin-bottom:$grid-gutter-width;
				&:last-child{
					margin-bottom:0;
				}
				.page-home-article-feed-box{
					padding:0;
					border:none;
					margin:0;

					.page-home-article-feed-box-image{
						height: 180px;
						padding:0;
						overflow: hidden;
						a{
							img{
								// max-height: 100%;
								width: auto;
								&.dedicace{
									margin-top:-150px;
								}
								&.team{
									margin-top:-30px;
									margin-left:-15%;
									max-width: 130%;
								}
							}
						}
					}
					.page-home-article-feed-box-content{
						height: 180px; 
						background-color: $brand-grey-dark;
						margin:0;
						color: $brand-black;
						flex:1;
						padding: $grid-gutter-width;
						@include display-flex;
						@include flex-direction(column);
						justify-content: space-between;
						h3{
							@include align-self(flex-start);
							margin: 0;
							font-weight: bold;
							font-size: $font-size-captions-4;
							color: $brand-white;
						}
						i{
							color: $brand-orange;
							font-size: $font-size-sub-headline;
							position:absolute;
							right: $grid-gutter-width;
							bottom: $grid-gutter-width;
						}
						&:hover{
							.page-home-article-feed-box-content-overlay{
								opacity:1;
								*{
									opacity:1;
									@include translateY(0);
								}
							}
						}
						.page-home-article-feed-box-content-overlay{
							position: absolute;
							top: 0;
							right: 0;
						    width: 100%;
						    height: 100%;
							background: rgba($brand-black, .9);
							z-index:1;
							opacity:0;
							@include transition(opacity .6s ease);
							@include display-flex;
							@include align-items(center);
							@include justify-content(center);
							*{					
								@include translateY(20px);
								@include transition(opacity .6s ease, transform .6s ease);
							}
						}
					}
				}
			}
			.page-home-social-general{
				overflow:hidden;
				&:hover{
					.page-home-social-overlay{
						opacity:1;
						*{
							opacity:1;
							@include translateY(0);
						}
						.page-home-social-overlay-footer{
							ul{
								li{
									a{
										.fa-facebook{
											&:hover{
												color: #3B5998;
											}
										}
										.fa-twitter{
											&:hover{
												color: #4099FF;
											}
										}
									}
								}
							}
						}
					}
					.page-home-social-image{
					}
					.page-home-social-title{
						opacity:0;
						@include translateY(-20px);
					}
				}
			}
			.page-home-social-image{
				position: relative;
				width: 555px;
				height: 378px;
				img{
					position: absolute;
					min-width: 100%;
					max-height: 100%;
					// @include translateX(10%);
				}
			}
			.page-home-social-title{
				@include box-sizing(border-box);
				position: absolute;
				left: 50%;
				width: 90%;
				margin-left:-44.5%;
				bottom:$grid-gutter-width;
				line-height:($font-size-captions-4)+4px;
				height:80px;
				vertical-align: middle;
				background:rgba($brand-black,.9);
				color: $brand-white;
				padding: 0 $grid-gutter-width/2;
				font-size: $font-size-captions-4;
				font-weight:bold;
				opacity:1;
				z-index:1;
				@include transition(opacity .6s ease, transform .6s ease);
				@include display-flex;
				@include align-items(center);
				i{
					color:$brand-orange;
					margin:auto;
					margin-right:$grid-gutter-width;
					margin-left:$grid-gutter-width;
				}
				div{
					margin:auto;
					margin-left:0; 
				}
			}
			.page-home-social-overlay{
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($brand-black, .9);
				z-index:1;
				opacity:0;
				padding:$grid-gutter-width ($grid-gutter-width+($grid-gutter-width/2));
				@include transition(opacity .6s ease);
				@include display-flex;
				@include align-items(center);
				@include justify-content(center);
				@include flex-direction(column);
				*{					
					@include translateY(20px);
					@include transition(opacity .6s ease, transform .6s ease);
				}
				h3{
					width:80%;
					opacity:0;
					margin:0;
					text-align:center;
					font-size: $font-size-captions-2;
					margin-top: $grid-gutter-width;
				}
				.page-home-social-overlay-cta{
					flex:1;
					opacity:0;
					@include display-flex;
					@include align-items(center);
					@include justify-content(center);
					button{
					}
				}
				.page-home-social-overlay-footer{
					font-size: $font-size-captions-4;
					a{
						font-size: $font-size-captions-4;
						&:hover{
							color:$brand-orange;
						}
					}
				}
			}
			.page-home-social-feed{
				margin-bottom:$grid-gutter-width;
				&:last-child{
					margin-bottom:0;
				}
				.page-home-social-feed-box{
					padding:0;
					border:none;
					margin:0;

					.page-home-social-feed-box-image{
						// height: 180px;
						padding:0;
						overflow: hidden;
						a{
							img{
								max-height: 100%;
								width: auto;
							}
						}
					}
					.page-home-social-feed-box-content{
						&.twitter-color{
							background-color: $brand-blue;
						}
						&.facebook-color{
							background-color: $brand-green;
						}
						// height: 180px;
						margin:0;
						color: $brand-black;
						flex:1;
						padding: $grid-gutter-width;
						@include display-flex;
						@include flex-direction(column);
						@include justify-content(space-between);
						h3{
							margin: 0;
							font-weight: bold;
							font-size: $font-size-captions-4;
							i{
								margin-right:$grid-gutter-width/2;
							}
						}
						p{
							font-size: $font-size-labels;
							line-height: ($font-size-labels)+4px;
							margin:15px 0;
							height: 60px;
						}
						.container-full{
							div{
								@include display-flex;
								@include flex-direction(row);
								align-items: center;
								.page-home-social-feed-content-time{
								}
								.page-home-social-feed-content-btn{
									@include align-self(flex-end);
									margin:0;
									font-size: $font-size-captions-4;
									li{
										a{
											@include single-transition (all, 0.3s,ease);
											color: $brand-black;
											&:hover{
												color: $brand-white;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.page-home-fibre-general{
				div{
					.page-home-fibre-image{
						img{
							margin-top: -8px;
						}
					}
					.page-home-fibre-text{
						// background-color:$brand-grey-dark;
						height: 225px;
						display:inline-block;
						h2{
							font-weight: bold;
							font-size: $font-size-section-title;
							color: $brand-orange;
							margin-top: $grid-gutter-width*0.6;
						}
						span{
							font-weight: bold;
							font-size: $font-size-captions-4;
							color: $brand-white;
							margin-bottom: $grid-gutter-width*1.5;
							display:inline-block;
						}
						a{
							display:block;
						}
					}
				}
			}
		}
	}
}